# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build files
build/
dist/
*.spec.bak

# Database files
*.db
data/*.db

# Logs
logs/*.log

# Environments
.env
.venv/
venv/
ENV/
